/* 
Flexbox:
    Un padre acomoda/ordena a sus hijos
    Cuando el padre es una flexbox los hijos directos son flex-items
    Cuando un elemento es flex se habilitan las propiedades flexibles:
    Cuando un elemento es flexible tiene ciertas configuraciones por defecto:
        flex-direction: row;
        justify-content: left | flex-start (hacen lo mismo)


Justify-content:
    space-evenly: Espaciar entre cada hijo y los bordes el mismo valor
    space-between: Divide el espacio sobrante entre cada hijo (NO A LOS BORDES)
*/

/* Normalizacion */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    height: 140px;
}
nav{
    display: flex;
    height: 70px;
    align-items: center;

    gap: 20px;

}

.especial h2{
    color: red;
}


.padre{
    /* 
    vh: viewport height (altura de la pantalla)
    100vh = 100% del alto del viewport
    1vh = 1% del alto del viewport
    */
    height: 100vh;
    /* width: 100vw; */ /* 100% del ancho de la pantalla */
    background-color: blueviolet;
    display: flex;/* Hacemos que el padre sea una flexbox */
    flex-direction:column;
    gap: 20px;
    /* Cuando flex-direction sea row justify-content ajusta el eje x (horizontal) */
    justify-content: center;
    align-items: start;
}

.primera-seccion{
    height: calc(100vh - 140px);
}

.hijo{
    width: 50px;
    height: 100px;
    border-radius: 10px;
    background-color: black;
}

.hijo-1{
    background-color: blue;
}

.hijo-2{
    background-color: red;
}

.hijo-3{
    background-color: green;
}

/* .padre-2{
    background-color: aqua;
} */

.span{
    width: 200px;
}

input{
    width: 500px;
    height: 500px;
}


/* .link{
    width: 100px;
} */
/*
SI FLEX DIRECTION ES ROW:
    - Justify content: Ajusta en eje x
    - Align items: Ajusta en eje y

SI FLEX DIRECTION ES COLUMN:
    - Justify content: Ajusta en eje y
    - Align items: Ajusta en eje x

 */