@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --color--header-0: #000000;
    --color--primario-800: #cc000e;
    --color--primario-100: #797979;
    --color--logo:#f51928;
    --list--color:#ff4c37;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}


body{
    background-color: white;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

}

.header{
    background-color: var(--color--header-0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}

.header__logo-container{
    width:160px;
    height: 30px;
    fill: var(--color--logo); 
}

.header nav .header__nav-list{
    display: flex;
}

.header__nav-list{

}

.texto-especial{
    color: white;
}